{% extends "main/main.html" %}

{% block title %}Log Out | The Boat Shaq{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-md-6">
      <h2>Log Out</h2>

      <p>Are you sure you want to log out?</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}

        <p>
          <button type="submit" class="btn btn-secondary">
            Confirm Log Out
          </button>
        </p>

         <p>
           <a href="{% url 'boats:home' %}" class="btn btn-secondary">
             Cancel and Return Home
           </a>
         </p>
      </form>   
    </div>
  </div>
</div>
{% endblock %}