/* ---------- Buttons ---------- */

.btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Primary Button (Main Action) */
.btn-primary {
  background-color: #6b5e00;
  color: #ffffff;
  border: 2px solid #6b5e00;
}

.btn-primary:hover {
  background-color: #4e4500;
  border-color: #4e4500;
  color: #ffffff;
}

/* Secondary Button (Neutral / Cancel) */
.btn-secondary {
  background-color: khaki;
  color: #25220d;
  border: 2px solid #25220d;
}

.btn-secondary:hover {
  background-color: #6b5e00;
  color: #ffffff;
  border-color: #6b5e00;
}

/* Ghost Button (Navbar Style) */
.btn-ghost {
  background: transparent;
  color: #25220d;
  border: none;
}

.btn-ghost:hover {
  background-color: #6b5e00;
  color: #ffffff;
}

/* Danger buttons/checkout page */
.btn-basket {
  background-color: #ffffff;
  color: red;
  border: 2px solid red;
}

.btn-basket:hover {
  background-color: red;
  color: #ffffff;
  border-color: red;
}

/* -- Pagination -- */

.btn-prev-next {
  background-color: khaki;
  color: #25220d;
  border: 2px solid #25220d;
  border-radius: 6px;
  padding: 5px 12px;
}

.btn-prev-next:hover {
  background-color: #6b5e00;
  color: #ffffff;
  border-color: #6b5e00;
}

.pagination .page-link {
  border-radius: 10px;
  margin: 0 2px;
  color: #212529;
  border: 1px solid #212529;
}

.pagination .page-link:hover {
  color: #ffffff;
  background-color: #6b5e00;
}

.pagination .page-link.active {
  background-color: khaki;
  border-color: #212529;
  color: #212529;
}

.pagination .page-link:focus,
.pagination .page-link:active,
.btn-prev-next:focus,
.btn-prev-next:active {
  outline: none;
  box-shadow: none;
}

/* -- Toast Styles */

.toast-container {
  top: 45px;
  right: 16px;
  z-index: 1100;
  max-width: 320px;
}

.toast {
  width: 100%;
  border: 0;
  border-radius: 12px;
  overflow: hidden;
}

.toast.toast-slide {
  transform: translateX(120%);
  opacity: 0;
  transition:
    transform 300ms ease,
    opacity 300ms ease;
}

.toast.toast-slide.show {
  transform: translateX(0);
  opacity: 1;
}

.toast-header {
  color: #ffffff;
  border-bottom: 0;
}

.toast-header.success {
  background: #198754;
}

.toast-header.error {
  background: #dc3545;
}

.toast-header.warning {
  background: #ffc107;
  color: #212529;
}

.toast-header.info {
  background: #0d6efd;
}

.toast-header.success .btn-close,
.toast-header.error .btn-close,
.toast-header.info .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}