<footer class="footer">
  <div class="footer-container">
    <div class="footer-inner">
      <div class="contact-info">
        <div class="contact-title">
          <strong>Contact Us:</strong>
        </div>

        <div class="contact-details">
          <div>
            <i class="fa-regular fa-paper-plane"></i>
            contact@theboatshaq.com
          </div>
          <div>
            <i class="fa-solid fa-square-phone"></i>
            +1 (234) 567-890
          </div>
        </div>
      </div>

      <p class="copyright">
        © <span id="year"></span> TheBoatShaq. All rights reserved.
      </p>

      <div class="social-media">
        <a
          href="https://www.facebook.com/theboatshaq"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
        >
          <i class="fa-brands fa-facebook"></i>
        </a>

        <a
          href="https://x.com/theboatshaq"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>

        <a
          href="https://www.instagram.com/theboatshaq"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>